@font-face {
font-family: 'Formula';
src: url()
}

:root, html {
  height: 100%;
  width: 100%;
  display: table;
}

body {
  text-align: center;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  display: table-cell;
  background-color: white;
  transition: all 2s ease;
}


.title {
font-family: "helvetica neue";
letter-spacing: -9px;
font-size: 200px;
width: 100%;
vertical-align: middle;
line-height: 9rem;
}

body p {
  font-family: 'Helvetica';
  font-weight: bolder;
  font-size: 13px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 150px;

}

.info {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
  align-items: center;
  
}

body p a {
  color: black;
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 80px;
    line-height: 5rem;
    letter-spacing: -3px;
  }
}

